* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* HEADER AND LOGO */

header {
  height: 600px;
  background-image: url("images/elearning.jpg");
  color: white;
}

.tag {
  height: 450px;
  width: 60%;
}

.tag > h1 {
  font-family: "Alike", Arial, Helvetica, sans-serif;
  text-shadow: 0 0 3px black;
  font-size: 48px;
}

.tag > p {
  font-family: "Lekton", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.nav > h3 {
  text-shadow: 0 0 8px black;
  font-size: 34px;
  font-weight: bold;
}

.btn {
  width: max-content;
}

.signup-btn {
  height: 70px;
  width: 300px;
}

@media only screen and (max-device-width: 480px) {
  header {
    height: 700px;
  }

  .tag {
    height: 550px;
    width: 80%;
  }
  .tag > h1 {
    font-size: 34px;
  }
  .signup-btn {
    height: 50px;
    width: 250px;
  }
}

/* SELF PACE INFO */

.self-pace {
  background-color: #f4f3ee;
  padding: 70px;
}

.self-text {
  margin: 10px;
  width: 80%;
  height: 400px;
}

.self-info {
  color: #8a817c;
}

.self-boxes {
  width: 80%;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.self-boxes::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.self-head > h1 {
  font-size: 50px;
}

.self-info {
  width: 400px;
}

.self-box {
  background-color: #f4f3ee;
  padding: 25px;
  margin: 15px;
  max-width: 320px;
  min-width: 280px;
  height: 330px;
  box-shadow: 0 0 10px #bcb8b1;
  border-radius: 10px;
}

@media only screen and (max-device-width: 480px) {
  .self-pace {
    padding: 30px;
  }

  .self-text {
    margin: 10px;
    width: 90%;
    height: 500px;
  }

  .self-head > h1 {
    font-size: 40px;
  }
  .self-info {
    width: 280px;
  }
  .self-boxes {
    width: 100%;
  }
  .self-box {
    width: 450px;
    padding: 15px;
    margin: 10px;
  }
}
/* DARK INFO */

.dark-container {
  height: 400px;
  background-image: url("images/growing.jpg");
  color: white;
  text-shadow: 0 0 15px black;
}

.dark-heading {
  width: 500px;
}

.dark-heading > h1 {
  font-family: "Alike", Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.dark-heading > p {
  font-family: "Lekton", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.dark-info {
  width: 500px;
}

/* TECH OPTIONS */

.tech {
  padding: 75px;
  background-color: #f4f3ee;
}

.tech-box {
  width: 350px;
  height: 200px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px #bcb8b1;
  background-color: white;
}

.tech-info {
  width: 180px;
  padding: 20px;
}

.tech-info > h5 {
  font-family: "Alike", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.tech img {
  width: 150px;
  height: 200px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}

/* CONTACT */

.contact {
  height: 500px;
  padding-top: 125px;
}

.contact-logo {
  width: 300px;
}

.fa-brands {
  font-size: 25px;
  margin-right: 10px;
  color: #0d6efd;
}

ul > li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
}

.contact_heading {
  color: #7f5539;
  font-weight: bold;
}

@media only screen and (max-device-width: 480px) {
  .contact {
    height: 900px;
    padding-top: 25px;
  }
  .contact_lists {
    width: 300px;
  }
}

/* FOOTER */

footer {
  padding: 25px 50px;
  background-color: #f4f3ee;
}

.policy > p {
  margin-right: 25px;
  font-weight: bold;
}

.copyright {
  width: 90%;
}

.footer-right {
  text-align: right;
}

.footer-text {
  color: #8a817c;
}

@media only screen and (max-device-width: 480px) {
  .footer-right {
    text-align: left;
  }
}
