* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* HEADER AND LOGO */

header {
  height: 600px;
  background-image: url("images/elearning.jpg");
  color: white;
}

.tag {
  height: 450px;
  width: 50%;
}

.tag > h1 {
  font-family: "Alike", Arial, Helvetica, sans-serif;
  text-shadow: 0 0 3px black;
  font-size: 50px;
}

.tag > p {
  font-family: "Lekton", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.nav > h3 {
  text-shadow: 0 0 8px black;
  font-size: 34px;
  font-weight: bold;
}

.btn {
  width: max-content;
}

.signup-btn {
  height: 70px;
  width: 300px;
}

/* SELF PACE INFO */

.self-pace {
  width: 100%;
  background-color: #f4f3ee;
}

.self-text {
  height: 400px;
  width: 1300px;
}

.self-head {
  width: 700px;
}

.self-info {
  color: #8a817c;
}

.self-head > h1 {
  font-size: 60px;
}

.self-info {
  width: 400px;
}

.self-boxes {
  width: 1300px;
}

.self-box {
  background-color: #f4f3ee;
  padding: 25px;
  margin: 10px;
  width: 350px;
  height: 400px;
  box-shadow: 0 0 10px #bcb8b1;
  border-radius: 10px;
}

/* DARK INFO */

.dark-container {
  height: 400px;
  background-image: url("images/growing.jpg");
  color: white;
}

.dark-heading {
  width: 500px;
}

.dark-info {
  width: 500px;
}

/* TECH OPTIONS */

.tech {
  height: 600px;
  background-color: #f4f3ee;
}

.tech-box {
  width: 500px;
  height: 350px;
  box-shadow: 0 0 5px #bcb8b1;
  background-color: white;
}

.tech-info {
  width: 200px;
  padding: 20px;
}

.tech img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

/* CONTACT */

.contact {
  height: 500px;
  padding-top: 100px;
}
.contact-logo {
  width: 300px;
}

.fa-brands {
  font-size: 30px;
}

/* FOOTER */

footer {
  padding: 20px 50px;
}

.policy {
  border: 1px solid red;
}

.policy > p {
  margin-right: 25px;
}

.copyright {
  width: 90%;
  border: 1px solid red;
}
